# .env
ENV=PROD

# 1. 데이터베이스 설정
# ----------------------------
# SQLAlchemy가 연결할 데이터베이스 주소
# (예: "postgresql://유저명:비밀번호@호스트주소:포트/DB이름")
DATABASE_URL=postgresql+psycopg2://test:test@localhost/test



# 2. JWT (토큰) 설정
# ----------------------------
# 토큰 암호화에 사용할 비밀 키 (아무도 모르는 복잡한 문자열로 변경하세요)
SECRET_KEY="your_very_strong_and_secret_key_here"

# 사용할 JWT 서명 알고리즘 (기본값: HS256)
ALGORITHM="HS256"

# Access Token 만료 시간 (분 단위, 기본값: 10분)
EXPIRE_MINUTES=10

# Refresh Token 만료 시간 (분 단위, 기본값: 60분)
REFRESH_EXPIRE_MINUTES=60